.container{
    /* background-color: darkgreen; */
    display:flex;
    margin-top:10px;
}

.newDivision{
    position:absolute;
    margin-left: 150px;
    margin-top:500px;
    padding-bottom: 20px;
}